<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<div class="container">
    <div class="header clearfix">
        <span class="title">Section messages</span>
    </div>
    <div class="chatbox clearfix" #chatbox>
        <ul>
            <li
                [ngClass]="
                    message.username === 'Système'
                        ? 'system'
                        : message.username === 'Événement'
                        ? 'event'
                        : message.username === this.username
                        ? 'player'
                        : 'opponent'
                "
                *ngFor="let message of this.messages"
            >
                <strong>{{ message.username }}</strong>
                <span class="time"> {{ message.time | date: 'HH:mm:ss' }}</span>
                <p>
                    {{ message.message }}
                </p>
            </li>
        </ul>
    </div>
</div>
