<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="container">
    <div class="header clearfix">
        <span class="title">Section messages</span>
    </div>
    <div class="chatbox clearfix" #chatbox>
        <ul>
            <li [ngClass]="message.username === 'Système' ? 'system' : message.username === 'Événement' ? 'event': message.username === this.username ? 'player': 'opponent'"
                *ngFor="let message of messages">
                <strong>{{message.username}}</strong>
                <span class="time"> {{ message.time | date: 'HH:mm:ss'
                    }}</span>
                <p>
                    {{ message.message }}
                </p>
            </li>
        </ul>
    </div>
    <form class="msg-box" *ngIf="this.gameRoom?.userGame?.username2" (submit)="sendMessage()">
        <input class="ip-msg" type="text" [(ngModel)]="message" [ngClass]="{'error-border': applyBorder}"
            placeholder="Tapez un message" maxlength="200" (focus)="chatInputFocus()" (blur)="chatInputBlur()" />
        <span class="btn">
            <button class="plane" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </span>
    </form>
</div>