<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
<body>
    <header>
        <button class="home-button" routerLink="/home">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i>
        </button>
        <img src="{{ imgSource }}" />
    </header>
    <div class="tabset">
        <input type="radio" name="tabset" id="tab1" aria-controls="jeux" checked />
        <label *ngIf="this.pageType === 'selection'" for="tab1">Choix de jeu</label>
        <label *ngIf="this.pageType === 'config'" for="tab1">Gestion des jeux</label>
        <input *ngIf="this.pageType === 'config'" type="radio" name="tabset" id="tab2" aria-controls="historique" />
        <label *ngIf="this.pageType === 'config'" for="tab2">Historique des parties</label>
        <input *ngIf="this.pageType === 'config'" type="radio" name="tabset" id="tab3" aria-controls="constants" />
        <label *ngIf="this.pageType === 'config'" for="tab3">Constantes de jeu</label>
        <div class="tab-panels">
            <section id="jeux" class="tab-panel">
                <div *ngIf="this.pageType === 'config'">
                    <button class="btn" routerLink="/creation">Création d'un jeu</button>
                    <button class="btn" (click)="resetBestTimes()">Réinitialisation des scores</button>
                    <button class="btn" (click)="deleteAllGames()">Supression des jeux</button>
                </div>
                <ngx-slick-carousel class="carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                        <app-game-card
                            [slide]="slide"
                            [page]="pageType"
                            (deleteNotify)="deleteNotify($event)"
                            (resetNotify)="resetNotify($event)"
                            (notifySelected)="setSelected($event)"
                        ></app-game-card>
                    </div>
                    <p *ngIf="this.noGames">Aucun jeu sauvegardé trouvé !</p>
                </ngx-slick-carousel>
            </section>
            <section id="historique" class="tab-panel">
                <div id="table-container">
                    <table>
                        <tr>
                            <th>Début de partie</th>
                            <th>Durée totale</th>
                            <th>Mode de jeu</th>
                            <th>Joueur 1</th>
                            <th>Joueur 2</th>
                        </tr>
                        <tr *ngFor="let partie of parties; let i = index">
                            <td>{{ partie.startTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>{{ calculateTime(partie.timer) }}</td>
                            <td>{{ partie.gameMode }}</td>
                            <td
                                [ngClass]="{
                                    winner: partie.winner === partie.username1,
                                    abandoned: partie.abandoned?.includes(partie.username1) === true
                                }"
                            >
                                {{ partie.username1 }}
                            </td>
                            <td
                                *ngIf="partie.username2 !== ''"
                                [ngClass]="{
                                    winner: partie.winner === partie.username2,
                                    abandoned: partie.abandoned?.includes(partie.username2!)
                                }"
                            >
                                {{ partie.username2 }}
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="btn delete" (click)="deletePartie()">Supprimer toutes les parties</button>
            </section>
            <section id="constants" class="tab-panel">
                <app-config-params></app-config-params>
            </section>
        </div>
    </div>
</body>
