<div *ngIf="data.gameFinished">
    <p *ngIf="data.limitedTimeMode">C'est terminé, merci d'avoir joué !</p>
    <p *ngIf="!data.limitedTimeMode && data.gameWinner">Félicitation, vous avez gagné ce jeu ! {{ bestTimeMessage }}</p>
    <p *ngIf="!data.limitedTimeMode && !data.gameWinner">Oh non, vous avez perdu ce jeu !</p>
    <button mat-button routerLink="/home">Terminer</button>
    <button mat-button *ngIf="!data.limitedTimeMode" (click)="openVideoReplay()">Reprise Vidéo</button>
</div>
<div *ngIf="!data.gameFinished">
    <p>Êtes-vous sûr de vouloir abandonner ?</p>
    <button mat-button (click)="emitAbandon(true)">Oui</button>
    <button mat-button (click)="emitAbandon(false)">Non</button>
</div>
