<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
<body>
    <header>
        <button class="config-button" routerLink="/config">
            <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
        </button>
        <img src="./assets/pictures/logo.png" />
    </header>
    <section>
        <div class="modes">
            <p class="solo-mode"><button class="solo-mode" (click)="setGameMode('mode Classique')">MODE CLASSIQUE</button></p>
            <p class="timer-mode"><button class="chrono-mode" (click)="setGameMode('mode Temps Limité')">MODE TEMPS LIMITÉ</button></p>
        </div>
    </section>
    <footer>
        <p>Équipe 204 : NO CONTENT</p>
        <span *ngFor="let teamMate of teamMembers; let isLast = last">{{ teamMate }}{{ isLast ? '' : ', ' }}</span>
    </footer>
</body>
