<div class="container">
    <h1>SALLE D'ATTENTE</h1>
    <h2 *ngIf="waitingRoomService.gameRoom?.userGame?.username1 === waitingRoomService?.username">CRÉATION DU JEU</h2>
    <h2 *ngIf="waitingRoomService.gameRoom?.userGame?.username1 !== waitingRoomService?.username">JOINDRE</h2>
    <div *ngIf="waitingRoomService.gameRoom?.userGame?.username1 === waitingRoomService?.username">
        <p class="waiting" *ngIf="waitingRoomService.gameRoom?.userGame?.potentialPlayers">Joueurs en attente :</p>
        <p class="waiting" *ngFor="let player of waitingRoomService.gameRoom?.userGame?.potentialPlayers">
            {{ player }}
            <button (click)="playerAccepted(player)">Accepter</button>
            <button (click)="playerRejected(player)">Refuser</button>
        </p>
        <div
            *ngIf="
                !waitingRoomService.gameRoom?.userGame?.potentialPlayers || (waitingRoomService.gameRoom?.userGame?.potentialPlayers)!.length === 0
            "
        >
            <div class="wrapper">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <span>Attente d'un joueur</span>
            </div>
        </div>
    </div>
    <div *ngIf="waitingRoomService.gameRoom?.userGame?.username1 !== waitingRoomService?.username && !this.rejected">
        <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <span>Attente d'approbation</span>
        </div>
    </div>
    <div *ngIf="this.rejected">
        <p>Vous avez été rejeté</p>
    </div>
    <button tabindex="-1" class="quit" (click)="close()">Quitter</button>
</div>
