<div class="label">
    <p>Début du chronomètre (entre 15 et 120 secondes)</p>
    <button class="btn" (click)="buttonDecreaseInitialTime()">-</button>
    <input #input1 (keyup)="manuallyChangeInitialTime(input1.value)" value="{{ initialTime }}" />
    <button class="btn" (click)="buttonIncreaseInitialTime()">+</button>
</div>
<div class="label">
    <p>Pénalité d'utilisation d'indice (entre 3 et 10 secondes)</p>
    <button class="btn" (click)="buttonDecreasePenalty()">-</button>
    <input #input2 (keyup)="manuallyChangePenaltyTime(input2.value)" value="{{ penaltyTime }}" />
    <button class="btn" (click)="buttonIncreasePenalty()">+</button>
</div>
<div class="label">
    <p>Temps bonus pour avoir trouvé une différence (entre 3 et 10 secondes)</p>
    <button class="btn" (click)="buttonDecreaseBonus()">-</button>
    <input #input3 (keyup)="manuallyChangeBonusTime(input3.value)" value="{{ bonusTime }}" />
    <button class="btn" (click)="buttonIncreaseBonus()">+</button>
</div>
<p class="invalidInput" *ngIf="this.isInvalidInput">Veuillez entrer un chiffre dans l'intervalle demandée</p>
<div class="constantsModification">
    <button class="btn option" (click)="resetConstants()">Réinitialisation des constantes</button>
    <button *ngIf="!this.isInvalidInput" class="btn option" (click)="applyNewConstants()">Application des nouvelles constantes</button>
</div>
<p class="modificationFeedback" *ngIf="feedbackMessage">{{ feedbackMessage }}</p>
